.comment {
  font-size: 14px;
  padding: 12px 0 12px 2px;
  position: absolute;
  width: 100%;

  .icon {
    background-color: #D7D7D7;
    display: inline-block;
    box-shadow: none;
    height: 10px;
    width: 10px;
    border-radius: 0;

    &.circle {
      border-radius: 50%;
    }

    &.diamond {
      border-radius: 0;
      transform: rotate(45deg);
    }
  }

  p {
    margin: 0;
    color: #34474F;
    width: calc(100% - 16px);
    padding-left: 16px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
}
